img:hover{
	box-shadow: 0 20px 25px 0 rgba(0,0,0,0.2), 0 15px 25px 0 rgba(0,0,0,0.21);
}

a.myBtn:hover{
	box-shadow: 0 10px 20px 0 rgba(0,0,0,0.2), 0 8px 15px 0 rgba(0,0,0,0.21);
	background-color: white;
	color: #111111!important;
}
.owl-dots
{
	text-align: center;	

	zoom: 1
}
.owl-dot 
{
	text-align: center;
	display: inline-block;
	zoom: 1
}
.owl-dots span {
	text-align: center;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #D6D6D6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px
}
.owl-dot span {
	text-align: center;
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	background: #D6D6D6;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px
}
.owl-dot.active span{
	background: #869791
}
.owl-dot:hover span {
	background: #869791
}
.progress-bar{
	-webkit-transition: width 1.5s ease;
	-o-transition: width 1.5s ease;
	transition: width 1.5s ease;
}
.owl-carousel{
	-webkit-transition: width 1.5s ease;
	-o-transition: width 1.5s ease;
	transition: width 1.5s ease;
}